<template name="usersList">
    <fieldset>
        <legend>Liste des {{ count }} utilisateurs</legend>
        <ul class="list-group">
            {{#each users}}
                <li class="list-group-item">
                    <div class="media">
                        {{! Partie gauche }}
                        <div class="media-left">
                            <img src="/images/profile.jpg" alt="post Travel image" height="70" width="70" class="pull-left">
                        </div>
                        {{! Corps de <li> }}
                        <div class="media-body">
                            <div class="clearfix content-heading">
                                <a href="{{pathFor route='admin.update' name=name}}">
                                    <h4 class="list-group-item-heading ">{{ role }} {{ username }}</h4>
                                </a>
                            </div>
                            <p class="list-group-item-text">
                                <a class="update btn btn-default">Modifier</a>
                                <a class="delete btn btn-default">Supprimer</a>
                            </p>
                        </div>
                        {{! Partie droite}}
                        <div class="media-right">
                            <span class="badge">{{ _id }}</span>
                        </div>

                    </div>
                </li>
            {{/each}}
        </ul>
    </fieldset>
</template>